<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1>Sign up</h1>
        {{#if hasErrors }}
            <div class="alert alert-danger">
                {{# each messages}}
                    <p>{{this}}</p>
                {{/each}}
            </div>
        {{/if}}
         <form action="/user/signup" method="POST">
            <div class="form-group">
                <div class="email">E-mail</div>
                <input type="text" id="email" name="email" class="form-control">
            </div>
             <div class="form-group">
                <div class="password">E-mail</div>
                <input type="password" id="password" name="password" class="form-control">
            </div>
                <button type="submit" class="btn btn-primary">Sign Up</button>
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        </form>
    </div>
</div>